# Ignore compiled Python files
*.pyc

# Ignore the virtual environment directory
.venv/
env/

# Ignore Django migrations
**/migrations/

# Ignore local settings file
local_settings.py

# Ignore IDE and editor-specific files
.idea/
.vscode/

# Ignore database files
db.sqlite3

# Ignore static files collected during development
/staticfiles/

# Ignore log files
*.log

# Ignore secret keys and sensitive information
*.key
*.pem
*.cer

# Ignore cache and temporary files
__pycache__/
*.swp
*.swo
*.cache/
*.tmp

# Ignore environment-specific configuration files
*.env
/inmest_api/settings.py